<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Register of Employee</title>
    <link rel="stylesheet" th:href="@{/css/employee/register.css}">
</head>

<body>
    <header>
        <nav id="header_navi">
            <ul>
                <li class="sysname">日報管理システム</li>
                <li class="other">従業員管理</li>
                <li>日報管理</li>
                <li>（ログイン従業員）さん</li>
                <li>ログアウト</li>
            </ul>
        </nav>
    </header>
    <main>
    <h2>新規従業員 登録ページ</h2>
    <form method="post" th:action="@{/employee/register}" th:object="${employee}">      <!-- th:action でformのPOST先のURLを指定する。 -->
        <label for="code">社員番号</label>                                                <!-- th:object はModelに登録されたキー名を指定する。th:field では *{name} のようにキーを省略して記述できる-->
        <br>
        <input type="text" th:field="*{authentication.code}">
        <br>
        <label for="name">氏名</label>
        <br>
        <input type="text" th:field="*{name}">
        <br>
        <label for="password">パスワード</label>
        <br>
        <input type="text" th:field="*{authentication.password}">
        <br>
        <label for="role">権限</label>
        <br>
        <select th:field="*{authentication.role}" >
            <option value="" th:text="選択してください">
            <option th:each="item:${T(com.techacademy.entity.Authentication.Role).values()}" th:value="${item}" th:text="${item}">
        </select>
        <br>
        <input type="submit" value="登録">
    </form>
    <br><a th:href="@{/employee/list}">一覧に戻る</a>
    </main>
</body>
</html>