<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Update of Employee</title>
    <link rel="stylesheet" th:href="@{/css/employee/update.css}">
</head>
<body>
    <header>
        <nav id="header_navi">
            <ul>
                <li class="sysname">日報管理システム</li>
                <li><a th:href="@{/employee/list}">従業員管理</a></li>
                <li><a th:href="@{/}">日報管理</a></li>
                <li><span th:text="${#authentication.principal.employee.name}"></span> さん</li>
                <li><a th:href="@{/logout}">ログアウト</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2 th:object="${employee}">id:<td th:text="*{id}"></td>の従業員情報 編集ページ</h2>
            <form method="post" th:action="@{/employee/update/{id}/(id=${employee.id})}" th:object="${employee}" >
                <label for="code">◆社員番号</label>
                <br>
                <input type="hidden" th:field="*{authentication.code}" th:text="*{authentication.code}">
                <br><br>

                <label for="name">◆氏名</label>
                <br>
                <input type="text" th:field="*{name}">
                <br><br>

                <label for="password">◆パスワード</label>
                <br>
                <input type="text" th:field="*{authentication.password}">
                <p>※パスワードは変更する場合のみ入力してください</p>
                <br>

                <label for="role">◆権限</label>
                <br>
                <select th:field="*{authentication.role}">
                    <option th:each="item:${T(com.techacademy.entity.Authentication.Role).values()}" th:value="${item}" th:text="${item}">
                </select>
                <br>

                <input type="hidden" th:field="*{created_at}">
                <br>

                <input type="submit" value="更新">
                <br>
                <br>

                <a id="deleteRun" th:href="@{/employee/delete/{id}/(id=${employee.id})}" >この従業員情報を削除する</a>
                <script th:src="@{/js/employee/delete.js}"></script>
                <br>

                <a th:href="@{/employee/list}">更新せずに一覧に戻る</a>
            </form>
    </main>
</body>
</html>