<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Reset password</title>
    <link rel="stylesheet" th:href="@{/css/passwordreset.css}">
</head>
<body>
    <header>
        <nav id="header_navi">
            <ul>
                <li class="sysname">日報管理システム</li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>パスワードの再設定</h2>
        <p>パスワードを変更するユーザ名と新しいパスワードを入力してください</p>

<!-- 後で更新する
        <p class="err" th:if="${param.error}">ユーザ名かパスワードが一致しませんでした。</p>
 -->

        <form method="post" action="/passwordreset" th:action="@{/passwordreset}"  th:object="${employee}" >
            <table>
                <tr>
                    <td><label for="username">ユーザ名</label></td>
                </tr>

                <tr>
                    <td><input type="text" id="username" th:field="*{authentication.code}"></td>
                </tr>

                <tr>
                    <td><label for="newpassword">新しいパスワード</label></td>
                </tr>

                <tr>
                    <td><input type="password" id="newpassword" th:field="*{authentication.password}"></td>
                </tr>

<!--　後で追加する
                <input type="text" th:field="*{authentication.password}">

                <tr>
                    <td><label for="re_newpassword">新しいパスワード（確認）</label></td>
                </tr>
                <tr>
                    <td><input type="password" id="re_newpassword" name="re_newpassword"></td>
                </tr>
-->

                <tr>
                    <td>&nbsp;</td>
                </tr>

                <tr>
                    <td><input type="submit" name="ConfirmRun" value="変更する"></td>
                </tr>
            </table>
        </form>

        <br>
        <a th:href="@{/login}">ログイン画面に戻る</a>
    </main>
</body>
</html>